streamlit
doccano-client
requests
sockets
socket.py
pandas
pybase64
textract
numpy
pillow
pyttsx3
SpeechRecognition
docx2txt
python-docx
opencv-python
pdf2image
pdfminer.six
pdfminer3
requests-toolbelt
joblib
pytorch
transformers
googletrans
texthero
WordCloud
langdetect
spacy==2.3.5
certifi
fastapi
uvicorn
farm-haystack
urllib3==1.25.4